
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.class

target/
.classpath
.settings

*.project
*.gitignore
supra-boot/.settings/org.eclipse.wst.jsdt.ui.superType.container
supra-boot/.settings/org.eclipse.wst.common.project.facet.core.xml
supra-boot/.settings/org.eclipse.m2e.core.prefs
supra-boot/.settings/org.eclipse.jdt.core.prefs
supra-boot/.settings/.jsdtscope
supra-boot/.project
supra-boot/.classpath
supra-boot/.settings/org.eclipse.wst.validation.prefs
supra-boot/.settings/org.eclipse.wst.jsdt.ui.superType.name
supra-boot/target/m2e-wtp/web-resources/META-INF/maven/com.supra/supra-boot/pom.xml
supra-boot/target/m2e-wtp/web-resources/META-INF/maven/com.supra/supra-boot/pom.properties
supra-boot/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
supra-boot/target/jaxb2/.xjc-xjcStaleFlag